@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

header{
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.nav-link{
    text-transform: uppercase;
    color: #FFF;
}

@media (max-width:767px){
    header{
        background: #FFF;
    }

    nav{
        justify-content: space-around;
        height: 8vh;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 7px);
    }

    .logo {
        width: 100px;
    }

    .nav-list{
        flex-direction: column;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #FFF;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;   
    }
    
    .nav-link{
        transition: 0.3s;
    }

    .nav-link:hover{
        opacity: 0.7;
    }

    .nav-list li{
        opacity: 0;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }
    
    .mobile-menu div{
        width: 32px;
        height: 2px;
        background: #1d2c3d;
        margin: 8px;
        transition: 0.3s;
    }
    
    .nav-list.active{
        transform: translateX(0);
    }
    
    body{
        overflow-x: hidden;
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;    
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }
}



@media (min-width: 768px){  
    nav {
        height: 20rem;
        justify-content: center;
        transition: height .9s ease;
    }

    .logo{
        width: 200px;
    }

    .nav-link{
        margin: 0 1rem;
        position: relative;
    }
    
    .nav-link::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #FFF;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    
    .nav-link:hover::after{
        transform: scaleX(1);
    }

    /*aplicando efeito scroll*/
    .scrolling-active{
        background-color: #192735;
    }

    .scrolling-active nav{
        height: 55px;
        font-size: 14px;
        font-weight: bold;
    }

    .scrolling-active .logo{
        width: 100px;
        padding-top: 3px;
    }

    .scrolling-active nav a{
        color: #FFF;
    }

    .scrolling-active .nav-link::after{
        background-color: #FFF;
    }
}

@media (min-width: 1200px) {
    .logo{
        width: 400px;
    }
}