@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');



@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px){
    .container-home{
        width: 100%;
        height: 100vh;
        background: url("../img/img-01.png") center no-repeat;
        background-size: cover;
        position: relative;
        z-index: -1000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    
    .container-home::after{
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: -1000;
    }

    .container-sobre{
        width: 100%;
        height: 100vh;
        background: #1D2C3D;
    }

 }

 @media (min-width: 1200px) {
    .container-home{
        width: 100%;
        height: 100vh;
        background: url("../img/img-01.png") right bottom no-repeat;
        background-size: cover;
        position: relative;
        z-index: -1000;
        border-bottom: 1px solid #1D2C3D;
    }
    
    .container-home::after{
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: -1000;
    }

    .conteudo-home{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .conteudo-home-logo{
        width: 30rem;
        margin-right: 20px;
    }

    .conteudo-home h1{
        font-family: 'Righteous', cursive;
        font-size: 80px;
        color: #2373B5;
    }

    .conteudo-home h2{
        font-size: 70px;
        color: #1D2C3D;
    }

    .container-sobre{
        width: 100%;
        height: 100vh;
        background: url("../img/img-02.png") top right no-repeat ;
        background-size: cover;
        position: relative;
        z-index: -1000;
        border-bottom: 1px solid #1D2C3D;
    }
        
    .container-sobre::after{
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        
    }

    .conteudo-sobre{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.8);

    }

    .conteudo-sobre h1{
        text-transform: uppercase;
        font-family: 'Righteous', cursive;
        font-size: 80px;
        color: #2373B5;
        margin-top: 10rem;
        
    }    
 }