@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

header{
    position: fixed;
    width: 100%;
    transition: background-color .5s ease;
}

nav {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.nav-link{
    text-transform: uppercase;
   
}

@media (max-width:767px){    
    nav{
        justify-content: space-around;
        height: 8vh;
    }

    .logo-nav{
        width: 5rem;
    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #1D2C3D;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;   
    }
    
    .nav-link{
        transition: 0.3s;
        color: #fff;
    }

    .nav-link:hover{
        opacity: 0.7;
    }

    .nav-list li{
        opacity: 0;
    }

    .rede-sociais{
        display: none;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }
    
    .mobile-menu div{
        width: 32px;
        height: 2px;
        background: #1D2C3D;
        margin: 8px;
        transition: 0.3s;
    }
    
    .nav-list.active{
        transform: translateX(0);
    }
    
    body{
        overflow-x: hidden;
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;    
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }
}


@media (min-width: 768px) {
    nav {
        height: 20vh;
        justify-content: space-around;
        font-size: .9rem;
        transition: height .9s ease;
    }

    .logo-nav{
        display: none;
    }

    .nav-list{
        gap: 5rem;
    }

    .nav-link{
        
        position: relative;
        color: #1D2C3D;
    }
    
    .nav-link::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #1D2C3D;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    
    .nav-link:hover::after{
        transform: scaleX(1);
    }

    .link-logo-nav{
        display: none;
    }

    .mobile-menu{
        display: none;
    }
    

    /*aplicando efeito scroll*/
    .scrolling-active{
        background-color: #FFF;
    }

    .scrolling-active nav{
        height: 4em;
    }

    .scrolling-active .nav-list{
        gap: 2rem;
    }

    .scrolling-active .link-logo-nav {
        display: flex;
    }

    .scrolling-active .logo-nav{
        display: flex;
        width: 5rem;
    }

    .scrolling-active .logo-nav:hover{
        opacity: .7;
        transition: .3s;
    }

    .scrolling-active nav a{
        color: #1D2C3D;
    }

    .scrolling-active .nav-link::after{
        background-color: #1D2C3D;
    }
}

@media (min-width: 992px){
    nav {
        font-size: 1rem;
    }
}

@media (min-width: 1200px){  
    nav{
        height: 20vh;
        padding-left: calc((100% - 960px) /2);
        padding-right: calc((100% - 960px) /2);
    }
}