@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


@media (max-width:767px){ 

}

@media (min-width: 768px) {
    .container-contato{
        width: 100%;
        height: 100vh;
        background: url("../img/img-01-992px.png") right top no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
    }

    .conteudo-contato{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo-contato h1{
        font-family: 'Righteous', cursive;
        font-size: 3.5rem;
        color: #2373B5;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (min-width: 992px){   
    .container-contato{
        background: url("../img/img-01-992px.png") right top no-repeat;
    }
}

@media (min-width: 1200px) {
    .container-contato{
        background: url("../img/img-01-1440px.png") right top no-repeat;
    }
}